.text-shadow {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.flashes h4 {
    line-height: 2;
}     

.btn-small {
    margin:6px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 40px;
}

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .brand-logo {
      margin-left: 10px;
      font-size: large;
      font-family: 'Rubik', sans-serif;
  }

  .brand-logo-footer {
          font-family: 'Rubik', sans-serif;
  }

  .recipe-list {
          font-family: 'Rubik', sans-serif;
          font-size: large;
  }