{% extends "base.html" %}
{% block content %}


<div class="row card-pane s12 m12">
    <div class="card">
        <div class="card-image">
            <img src="/static/images/cookio-image.webp">
        </div>
        <div class="card-content">
            <p>This is COOKIO! the BEST collaborative recipe database.
                Cookio! gives users a very simple way to create, edit and save recipes divided into categories
                to create an evergrowing digital cookbook.
                Simply create an account and start sharing your culinary wisdom with the rest of us.</p>
        </div>
    </div>
</div>


<h3 class="teal-text text-darken-4 center-align upper-title">List of Recipes</h3>
<div class="row card-panel grey lighten-5">
    <form action="{{ url_for('search') }}" method="post" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <i class="fas fa-search prefix teal-text text-darken-4"></i>
                <input type="text" name="query" id="query" minlength="2" class="validate" required>
                <label for="query">Search in Recipes</label>
            </div>
            <div class="col s12 m4">
                <a href="{{ url_for('get_recipes') }}" class="red btn text-shadow">Reset</a>
                <button type="submit" class="teal darken-1 btn text-shadow">
                    <i class="fas fa-search left"></i> Search
                </button>
            </div>
        </div>
    </form>
</div>

<!-- Add Recipe Button -->
{% if session.user %}
<a href="{{ url_for('add_recipe') }}" class="waves-effect teal center waves-light btn">Add Recipe</a>
{% endif %}

<!-- Collapsible-->

{% if recipes|length > 0 %}
<ul class="collapsible">
    {% for recipe in recipes %}
    <li>
        <div class="collapsible-header white-text teal darken-4 text-shadow">
            <div class="col s3">
                <i class="fas fa-arrow-down"></i>
                {% if session.user|lower == recipe.created_by|lower %}
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small red accent-4 remove-btn">Delete</a>
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small teal accent-4">Edit</a>
                {% endif %}
            </div>

            <div class="col s9">
                <strong>{{ recipe.recipe_name }}</strong>
                {% if recipe.is_vegetarian == "on" %}
                <i class="fas fa-leaf teal-text text-lighten-2 tooltipped" data-position="right"
                    data-tooltip="VEGETARIAN"></i>
                {% endif %}
            </div>
        </div>
        <div class="collapsible-body">
            <strong>{{ recipe.category_name }}</strong>
            <p>{{ recipe.recipe_description }}</p>
            <p><em>Added by: {{ recipe.created_by }}</em></p>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<h3 class="teal-text text-darken-4 center-align upper-title">No Recipe with this word</h3>
{% endif %}

{% endblock %}